{% extends 'bootstrap/base.html' %}

{% block title %}学生选课系统账号登录{% endblock %}

{% block styles %}

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/stisla.css">
{% endblock%}

  {% block content %}
  <div class="container border-dark" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
      <div class="row clearfix">
    <form action="/login" method="POST" class="form-signin">
      <div class="text-center mb-4"><br>
        <div class="login-title">
          <img class="logo" src="../static/img/imu-logo.png"></img>
          <font size =6em><b>账号登录</b></font>
        </div>
      </div>
      <br>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning" role="alert">
            <strong>{{ message }}</strong>
          </div>
        {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="form-label-group">
          <label for="inputText">学号</label>
          <div class="input-nonumber">
        <input type="number" name="username" id="inputText" class="form-control" placeholder="请输入您的学号" required autofocus></div>

      </div>

      <div class="form-label-group">
          <br>
          <label for="inputPassword">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="请输入您的密码" required>
      </div>
      <div class="checkbox mb-3">
        <label><input type="checkbox" name="remember" style="margin-top: 1em;"> Remember me</label>
      </div>
      <div class="login-button">
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="padding: 0.3rem 1rem;font-size: 1rem;">学生登陆</button>
        <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('admin') }}" style="padding: 0.3rem 1rem;font-size: 1rem;">教师登录</a>
      </div>
      <p class="mt-5 mb-3 text-muted text-center">内蒙古大学 © 2021 </p>
    </form>
  </div>
  </div>
  {% endblock %}

